@import "tabs";

//custom colors
$primary: #5265e1;
$secondary: #fa5959;

@import "../node_modules/bootstrap/scss/bootstrap";

//Import the functions & variables
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

nav-item a {
	color: darkgrey;
}

.margen {
	margin-top: 10vh;
}


@media (min-width: 768px) {
	.containerCards {
		height: 400px;
	}
	.navSize {
		max-width: 1100px;
	}
	.containerNavbar {
		padding-right: 100px;
	}
}




